<div class="container">
  <div class="row">
    <div class="btn-group">
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
    </div>
  </div>
  <div class="row">
    <div class="btn-group">
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
    </div>
  </div>
  <div class="row">
    <div class="btn-group">
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
      <app-field (sign)="makeTurn()" [makeSign]="turnDone"></app-field>
    </div>
  </div>
</div>
